

#docs and build output

# Dependency directory
node_modules/*
!node_modules/bootstrap
!node_modules/can
!node_modules/font-awesome
!node_modules/can-crud
!node_modules/can-ui
!node_modules/jquery
!node_modules/steal
!node_modules/steal-qunit
!node_modules/qunitjs
!node_modules/openlayers
node_modules/openlayers/*
!node_modules/openlayers/dist


#custom apps and modules
custom/


.directory
