.layer-control {
  .legend {
    text-align: center;
  }

  .legend-wrapper {
    max-height: 250px;
    overflow: auto;
  }

  .fa {
    cursor: pointer;
  }

  layer-control-tilewms ul {
    margin: 0.6rem;
  }

  .menu .menu-item > a:focus,
  .menu .menu-item > a:hover {
    color: inherit;
    box-shadow: none;
  }
}
