identify-widget{

  .identify-scroller {
    width:100%;
    overflow-y:auto;
    overflow-x: hidden;
  }

  .identify-results ul.pagination {
    margin: 0;
  }

  paginate-widget {
        .pagination {
          padding: 0;
        }

        .pagination .page-item a {
          padding: 0 1.2rem;
        }

        .pagination ul li {
            margin-top: 0;
        }
    }
}
